<div class="container">
  <img src="assets/images/background.webp" alt="" />

  <h1>me conheça melhor</h1>

  <h4>
    Meu nome é Victor Barboza e estou muito feliz por você estar aqui. Vou
    compartilhar um pouco sobre quem eu sou, minhas experiências e o que me
    motiva. <br /><br />

    Tenho 25 anos e nasci em Guarulhos–SP. Atualmente, estou trabalhando como
    freelancer, desenvolvendo sites e criando artes gráficas. A área de
    tecnologia sempre me chamou atenção, o que me levou a estudar mais a fundo
    como o computador realmente funciona. <br /><br />

    Minha jornada acadêmica começou com um curso de Informática avançada quando
    tinha 13 anos na Microcamp, onde tive a oportunidade de aprender sobre
    Pacote Office, Illustrator, Photoshop, entre outros... Daí então, completei
    o Ensino Médio Técnico e desenvolvi algumas habilidades de designer gráfico
    e a ponta do iceberg do que é programação com HTML e CSS. Assim que
    completei o Ensino Médio comecei a cursar Ciências da Computação na UNINOVE,
    aprendi muitas coisas, mas não o que realmente gostava, que é a área de
    desenvolvimento web, como não tive a oportunidade de estagiar, atualmente
    estou estudando Desenvolvimento Web na Anhanguera e estou a procura de um
    Estágio, enquanto isso estudo na plataforma DIO na trilha de Front-end.<br /><br />

    Além da programação e do design gráfico, sou apaixonado por games. Gosto de
    manter o corpo e a mente saudáveis, praticando exercícios físicos e jogando
    futebol, isso me ajuda a manter um equilíbrio entre a vida profissional e
    pessoal. Estou sempre em busca de novos desafios e oportunidades para
    aprender e crescer, tanto pessoal quanto profissionalmente.<br /><br />

    No futuro, espero ser um desenvolvedor que seja referência para os colegas
    de trabalho e que sempre possam contar comigo. Estou particularmente
    interessado na vaga de Front-end, e acredito que isso me permitirá utilizar
    meus conhecimentos em design gráfico para sempre entregar o melhor resultado
    e cuidar de todos os detalhes de um projeto.<br /><br />

    Resumindo, sou alguém que valoriza a amizade e a colaboração, e estou sempre
    aberto a novas conexões. Se você chegou até aqui, é porque temos algum
    interesse em comum e se quiser compartilhar um pouco da sua experiência
    sobre programação, ficarei ansioso para ouvir e entender.
  </h4>
</div>
