<div class="container">
  <h1>Certificados</h1>
  <hr>

  <app-item
    Year="2025"
    Title="Desenvolvimento WEB - Anhanguera"
    Description=""
    Link="https://www.anhanguera.com/curso/desenvolvimento-web-tecnologo/"
  ></app-item>
  <app-item
    Year="2024"
    Title="Ionic Framework 6"
    Description="Neste curso aprendi a criar aplicativos para android, ios e sites em PWA com o Ionic Framework 6."
    Link="https://www.udemy.com/certificate/UC-c7f6ed7f-a5cb-4310-adb8-775ef38086c6/"
  ></app-item>
  <app-item
    Year="2023"
    Title="Potência Tech Angular Developer - Powered by iFood"
    Description="O Potência Tech powered by iFood lançada gratuitamente em parceria com a DIO com cursos, desafios de projeto, desafios de código e mentorias exclusivas."
    Link="https://www.dio.me/certificate/415EAEE4/share"
  ></app-item>
  <app-item
    Year="2022"
    Title="Front-end | Orange Tech +"
    Description="Bootcamp lançada gratuitamente pelo Inter, em parceria com a DIO, que abordar desde o princípio as tecnologias JavaScript, HTML, CSS, Typescript e React."
    Link="https://www.dio.me/certificate/21FBC2AF/share"
  ></app-item>
  <app-item
    Year="2022"
    Title="HTML Web Developer"
    Description="Entenda como trabalhar com HTML, a base para criar suas primeiras páginas WEB!"
    Link="https://www.dio.me/certificate/8AE052D1/share"
  ></app-item>
  <app-item
    Year="2022"
    Title="Santander Bootcamp Fullstack Developer"
    Description="Bootcamp lançada gratuitamente pelo Santander, em parceria com a DIO, que abordar desde o princípio as tecnologias JavaScript, HTML, CSS, Angular, Java e Spring."
    Link="https://www.dio.me/certificate/5C241215/share"
  ></app-item>
</div>

