<div class="container">
  <h1>Certificados</h1>
  <hr>

  <app-item
    Year="Cursando"
    Title="Desenvolvimento WEB - Anhanguera"
    Description=""
    Link="https://www.anhanguera.com/curso/desenvolvimento-web-tecnologo/"
  ></app-item>
  <app-item
    Year="2024"
    Title="Ionic Framework 6"
    Description=""
    Link="https://www.udemy.com/certificate/UC-c7f6ed7f-a5cb-4310-adb8-775ef38086c6/"
  ></app-item>
  <app-item
    Year="2023"
    Title="Potência Tech Angular Developer - Powered by iFood"
    Description=""
    Link="https://www.dio.me/certificate/415EAEE4/share"
  ></app-item>
  <app-item
    Year="2022"
    Title="Front-end | Orange Tech +"
    Description=""
    Link="https://www.dio.me/certificate/21FBC2AF/share"
  ></app-item>
  <app-item
    Year="2022"
    Title="HTML Web Developer"
    Description=""
    Link="https://www.dio.me/certificate/8AE052D1/share"
  ></app-item>
  <app-item
    Year="2022"
    Title="Santander Bootcamp Fullstack Developer"
    Description=""
    Link="https://www.dio.me/certificate/5C241215/share"
  ></app-item>
</div>

