<div class="container">
  <h1>Habilidades</h1>

  <div class="skills">
    <div class="background">
      <div class="bg">
          <app-skill Skill="" Title="HTML5"></app-skill>
          <app-skill Skill="" Title="CSS3"></app-skill>
          <app-skill Skill="" Title="ANGULAR"></app-skill>
          <app-skill Skill="" Title="REACT"></app-skill>
          <app-skill Skill="" Title="GIT"></app-skill>
          <app-skill Skill="" Title="JAVASCRIPT"></app-skill>
          <app-skill Skill="" Title="TYPESCRIPT"></app-skill>
          <app-skill Skill="" Title="BOOTSTRAP"></app-skill>
      </div>
      <div class="blob"></div>
    </div>
  </div>
</div>
