.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  padding: 100px 200px;

  h1 {
    color: var(--secondary-color);
    margin-bottom: 70px;
    text-align: center;
  }
}


.background {
  position: relative;
  width: 1040px;
  height: 170px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  box-shadow: 5px 5px 30px #56070c, -5px -5px 30px #56070c;
  margin: auto;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 99.35%;
  height: 160px;
  z-index: 2;
  background: rgba(0, 0, 0, 100);

  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid #000;

  display: flex;
  align-items: center;
  gap: 10px;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 99.35%;
  height: 160px;
  border-radius: 50%;
  background-color: #70070e;
  opacity: 1;
  filter: blur(6px);
  animation: blob-bounce 7s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
