.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 120px;
  height: 150px;
  border-radius: 15px;
  border: 8px double var(--primary-color);
  background-color: var(--secondary-color);

  img {
    border-radius: 12px;
    width: 70px;
    height: 70px;
    margin-bottom: 8px;
  }

  h4 {
    color: var(--primary-color);
    font-size: .92rem;
  }
}
